<table>
  <tbody>
    <tr>
      <td>Model: <%= @car.model%></td>
    </tr>
    <tr>
      <td>make: <%= @car.make%></td>
    </tr>
    <tr>
      <td>Price: <%= @car.price%></td>
    </tr>
    <tr>
      <td>manufacturing year: <%= @car.year_of_manufacture%></td>
    </tr>
    <tr>
      <td>Description: <%= @car.description%></td>
    </tr>
  </tbody>
</table>
